# Python bytecode and cache
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv/
venv/
env/

# macOS, Windows, Linux trash
.DS_Store
Thumbs.db
*.swp

# Test/coverage/artifacts
.coverage
.coverage.*
.cache/
dist/
build/
.eggs/
*.egg-info/
htmlcov/
.pytest_cache/

# Type checker and linter caches
.mypy_cache/
.ruff_cache/
.tox/

# IDEs
.idea/
.vscode/

# Jupyter notebooks
.ipynb_checkpoints/

# Packaging artifacts
*.log

# Misc
*.orig
*.bak
